# Build results
bin/
obj/

# User-specific files
.vs/
.vscode/
.idea/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.pdb
*.swp

# .NET Core
project.lock.json
project.fragment.lock.json
